<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Contact </title>

     {%load static%}
    <link rel="stylesheet" href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js'%}"></script>

</head>
<body>

    <h1 class="text-center">Edit Contact Information</h1>

     <form method="post">
              {% csrf_token %}

              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" value="{{editappointment.name}}" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" value="{{editappointment.email}}" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" value="{{editappointment.subject}}" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control"  name="message" rows="10" id="message-field" required="">{{editappointment.message}}</textarea>
                </div>


                  <button type="submit">Update</button>
                

              </div>
            </form>
    
</body>
</html>